* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #e0f7fa, #ffffff);
    color: #333;
    text-align: center; /* Centraliza o texto em todo o corpo */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

header {
    background: #00796b;
    color: white;
    padding: 20px 0;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    padding: 10px; /* Adiciona padding para melhor clique */
}

header nav a:hover {
    background-color: #004d40; /* Verde mais escuro ao passar o mouse */
}

main {
    padding: 40px 0;
}

.intro {
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center; /* Centraliza os cartões */
    flex-wrap: wrap;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    flex: 1 1 calc(45% - 30px);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.btn {
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00796b;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #00796b;
    color: white;
    margin-top: 20px;
}
